@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-font: 'Poppins', 'Trebuchet MS', sans-serif;
}

body{
    margin: 0px;
    overflow-x: hidden; 
}