<head>
    <link rel="stylesheet" href="http://localhost:3000/css/front-style.css">
</head>

<div class="header">
        <img src="front-images/dlsu-front.jpg" alt="DLSU Foods" id="dlsu-foods" class="header" />
        <img src ="front-images/logo-white.png" alt="logo" id="logo-white" class="header" />
        <div class= "navbar">
            <a href="/">Home</a>
            <a href="/restaurants">Restaurants</a>
            <a href="log-in-for-establishments.html">For Our Establishments</a>
        </div>
        <p id="description" class="header">About the best food in Taft</p>
        <a id="scroll" class="header" href ="#criteria">scroll to know more</a>
</div>

<div class="container" id="criteria">
    <div class="column">
        <div class="card">
            <div id="variety">  </div>
            <div class="description-wrap">
                <div class="description">
                    <h3><span>V</span>ariety</h3>
                    <p>A restaurant can offer a diverse range of options on their menu, catering to different tastes and dietary preferences.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div id="affordability">  </div>
            <div class="description-wrap">
                 <div class="description">
                    <h3><span>A</span>ffordability</h3>
                    <p>A restaurant can provide reasonably priced meals and offers value for money without compromising on quality.</p>
                 </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div id="standard">  </div>
            <div class="description-wrap">
                  <div class="description">
                     <h3><span>S</span>tandard</h3>
                     <p> A restaurant can uphold exceptional culinary standards, using high-quality ingredients to consistently deliver flavorful and well-executed dishes. </p>
                  </div>
            </div>
        </div>
    </div>

    <div class="column">
         <div class="card">
            <div id="taste">  </div>
            <div class="description-wrap">
                    <div class="description">
                        <h3><span>T</span>aste</h3>
                        <p>A restaurant can excel in delivering delicious, flavorful dishes that tantalize the taste buds and leave customers satisfied. </p>
                    </div>
            </div>
         </div>
    </div>
</div>

<div class="bio">
    <div>
         <h1> Who are we? </h1>
         <hr />
         <br />
          <p> Welcome to De La Salle University Manila's ultimate food destination! 
                TaftFinds is dedicated to showcasing the vibrant and diverse culinary scene within and 
                around the university campus. Whether you're a student, faculty member, or simply a food 
                enthusiast, we are here to guide you on a mouthwatering journey through the best restaurants,
                cafes, and eateries that make De La Salle University Manila an epicenter of gastronomic
                delights. From delightful street food stalls to trendy dining spots, our platform serves
                 as your go-to resource for discovering delectable meals, exploring unique flavors, and 
                experiencing the rich culinary culture that thrives in the heart of Manila. Join us as we
                unravel the culinary treasures that await within the walls of De La Salle University 
                Manila and beyond!</p>
    </div>
    <img src="front-images/dlsu.jpg" id="dlsu-img" alt="dlsu"/>
</div>

<div class = "articles">
    <h1> Read more from us </h1>
</div>

<div class="articles-layout">
     <a href="blog1.html" class="blogs">
        <div class="article">
            <img src="front-images/food-trip.png" id="food-trip" alt="food-trip" />
            <p class="published-info"> Pallavi Sowl | 06 June 2023</p>
            <h3 class="title">Food Trip in DLSU Manila</h3>
        </div>
     </a>

     <a href="blog2.html" class="blogs">
         <div class="article">
            <img src="front-images/cost.png" id="food-trip"  alt="cost" />
            <p class="published-info"> Mari Salvador Lapuz | 09 June 2023</p>
            <h3 class="title">Affordable Food Options</h3>
         </div>
     </a>

     <a href="blog3.html" class="blogs">
         <div class="article">
             <img src="front-images/bowl'd.png" id="food-trip"  alt="bowl'd" />
             <p class="published-info"> Audrea Arjaemi Tabadero | 15 June 2023</p>
             <h3 class="title">New Food Establishment - Bowl'd</h3>
         </div>
     </a>
</div>

<div class = "grid">
    <h3> Glimpses of Food Life at DLSU </h3>
    <div class = "upper-grid">
        <img src = "front-images/canteen-2.jpg" src = "food-life-at-dlsu-1" class = "img1" />
        <div class = "double-grid">
            <img src = "front-images/canteen-3.jpg" src = "food-life-at-dlsu-2" class = "img2" />
            <img src = "front-images/canteen-4.jpg" src = "food-life-at-dlsu-3" class = "img3" />
        </div>
    </div>

    <div class = "lower-grid">
        <div class = "double-grid">
            <img src = "front-images/canteen-5.jpg" src = "food-life-at-dlsu-4" class = "img2" />
            <img src = "front-images/canteen-1.jpg" src = "food-life-at-dlsu-5" class = "img3" />
        </div>
        <img src = "front-images/canteen-6.JPG" src = "food-life-at-dlsu-6" class = "img1" />
    </div>
</div>
