<!DOCTYPE html>
<head>
    <title> {{title}} </title>
    <link rel="stylesheet" href="http://localhost:3000/css/main-style.css">
    <link rel="icon" href="http://localhost:3000/favicon.png">
</head>
<body>
    <div>
        {{{body}}}
        {{> footer this}}
    </div>
</body>
</html>