
  .header{
    display: flex;
    flex-direction: row;
    height: 150px;
  }

  .header #logo-black{
      position: absolute;
      top: -5px;
      left: 25px;
      width: 200px;
      height: 200px;
  }

  .header .dropdown{
    position: absolute;
    top: 30px;
    left: 200px;
    padding: 8px 12px;
    color: gray;
    background-color: white;
    border: 0;
    box-shadow: 0px 3px 5px rgb(202, 202, 202);
    cursor: pointer;
    border-radius: 5px;
    padding-right: 30px;
    height: 60px;
    font-family: var(--primary-font);
    font-size: 14px;
  }

  .header .dropdown:focus,.header .dropdown:hover {
    outline: none;
    border: 1px solid #bbbbbb;
  }

  .header .dropdown option {
    background: #ffffff;
  }

  .header .form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header .navbar{
      position: absolute;
      top: 25px;
      left: 1050px;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }


  .header .navbar{
    position: absolute;
    top: 25px;
    right: 40px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .navbar a{
    text-decoration: none;
    font-family: var(--primary-font);
    color: #173518;
    font-size: 17px;
    padding: 30px;
    padding: 20px 20px;
    position: relative;
  }

  .header .navbar a:after{
    content: "";
    position: absolute;
    background-color: #173518;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
  }

  .header .navbar a:hover{
    color: white;
    text-shadow: 0 0 5px #173518;
  }

  .header .navbar a:hover:after{
    width: 100%;
  }
    
  .header .navbar img{
      height: 50px;
      width: 55px;
      border-radius: 50px;
  }

  .dropbtn {
      background: none;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      font-family: var(--primary-font);
      margin-left: 0px;
      font-weight: 500;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      font-family: var(--primary-font);
      border-radius: 10px;
      border: none;
    }
    
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-radius: 10px;
      border: none;
      font-size: 14px;
      font-weight: 300;
  }
    
  .dropdown-content a:hover {
      background-color: #ddd;
  }
    
  .show {
      display:block;
  }

  .form-container form{
    background: #fff;
    position: absolute;
    top: 30px;
    left: 430px;
    width: 550px;
    height: 55px;
    display: flex;
    border: 1px solid #bbbbbb;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 14px;
    height: 60px;
  }
  
  .form-container form input{
    flex: 1;
    border: none;
    outline: none;
    font-family: var(--primary-font);
    color: rgb(74, 73, 73);
  }
  
  .form-container form input::placeholder{
    color: gray;
  }
  
  .form-container form button{
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: var(--primary-font);
    color: white;
    background-color: #333333;
  }
  
  .form-container form .fa-light{
    align-self: center;
    padding: 10px 20px;
    color: gray;
  }
  
  .fa-sharp{
    align-self: center;
    color: gray;
  }

  #main-line{
    margin-top: 0px;
    background-color: rgb(202, 202, 202);
    border-color: rgb(202, 202, 202);
    height: 1px;
    border: none;
    opacity: 25%;
    margin-bottom: 0px;
  }

  .profile-header{
    position: relative;
    margin-top: -120;
  }

  .profile-header #niki{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 5px solid white;
  }

  .profile-header #cover-photo{
    margin-left: 100px;
    margin-right: 100px;
    width: 1055px;
  }

  .bottom-left{
    position: absolute;
    top: 210px;
    left: 130px;
    display: flex;
    flex-direction: row;
  }

  .bottom-left img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 3px solid white;
  }

  .bottom-left h3{
    font-family: var(--primary-font);
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 70px;
    margin-left: 15px;
  }
  
  .center-right #edit{
    border: none;
    font-family: var(--primary-font);
    font-size: 13px;
    padding: 12px;
    cursor: pointer;
    background-color: rgb(94, 164, 94);
    position: absolute;
    top: 220px;
    left: 1020px;
    border-radius: 10px;
    color: white;
    font-weight: 300;
  }

  .center-right #edit:hover{
    background-color: rgb(63, 171, 63);
  }

  .bottom-right span{
    font-weight: 600;
  }

  .bottom-right{
    font-family: var(--primary-font);
    font-size: 18px;
    position: absolute;
    top:290px;
    left: 1030px;
    color: white;
    font-weight: 300;
    cursor: pointer;
  }

  .bottom-right a,.bottom-right a:visited{
    color: white; 
    text-decoration: none;
  }

  .bottom-right a:hover{
    color: rgb(176, 175, 175);
  }

    
  .review{
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 330px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: var(--primary-font);
  }
  
  .review-detailed{
    margin-bottom: 40px;
  }
  
  .review .profile{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .review .profile, .rating2, .content{
    margin-left: 20px;
  }
  
  .review:hover, .comment:hover{
    border: 1px solid rgb(255, 252, 252);
    box-shadow: 0px 0px 5px rgb(202, 202, 202); 
    cursor: pointer;
    z-index: 999;
  }

  .profile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
  
  .profile .name-details{
    margin-left: 15px;
    margin-top: -15px;
  }
  
  .profile .name-details #name{
    font-size: 16px;
    font-weight: 500;
  }

  h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: var(--primary-font);
    color: #000;
    margin-left: 100px;
  }

  h2 a{
    text-decoration: none;
    font-weight: 600;
    color: #173518;
  }

  h2 a:hover{
    text-decoration: none;
    font-weight: 600;
    color: green;
  }

  .tag{
    color:gray;
    font-weight: 300;
    font-size: 25px;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .filters{
    margin-left: 830px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .dropdown-reviews-filters{
    padding: 8px 12px;
    color: rgb(60, 60, 60);
    background-color: white;
    border: 5;
    font-family: var(--primary-font);
    font-size: 15px;
    margin-bottom: 5px;
  }

  .dropdown-reviews-filters option{
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .review .rating2{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 10px;
  }
  
  .rating2 #rating-num{
    background-color: green;
    color:white;
    font-weight: 500;
    border-radius: 7px;
    height: 20px;
    font-size: 14px;
  }
  
  .rating2 #dine-in2{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .rating2 #date{
    margin-left: 10px;
    color:gray;
    font-size: 14px;
    font-weight: 300;
  }
  
  .content #title{
    font-size: 18px;
    font-weight: 400;
    margin-top: 2px;
  }
  
  .content .positive-or-negative{
    display: flex;
    flex-direction: row;
  }
  
  .content .positive-or-negative #preference{
    font-size: 14px;
    margin-left: 8px;
    margin-top: -1px;
  }

  .description-content p{
    font-size: 15px;
    line-height: 25px;
    font-family: var(--primary-font);
    margin-left: 100px;
    margin-bottom: 50px;
  }

  .description-content{
    margin-top: 70px;
  }
  
  .headings{
    display: flex;
    flex-direction: row;
    color: gray;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .headings p{
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    margin-left: 10px;
  }
  
  #votes-and-comments{
    margin-left: 20px;
    color:gray;
    font-size: 12px;
    font-weight: 300;
  }
  
  .marks{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 20px;
    color:rgb(101, 100, 100);
    font-size: 14px;
    font-weight: 300;
  }
  
  .marks i{
    margin-left: 20px;
    cursor: pointer;
  }
  
  .marks p{
    margin-left: 5px;
    margin-top: -3px;
  }
  
  .review-highlights{
    margin-left: 1px;
    width: 748px;
    background-color: #edefed;
    border-color: #edefed;
    margin-bottom: 30px;
    opacity: 25%;
  }
  
  .review-highlights2{
    margin-left: 20px;
    width: 500px;
    background-color: #edefed;
    border-color: #edefed;
    margin-bottom: 30px;
    opacity: 25%;
  }
  
  .comment {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 150px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: var(--primary-font);
  }

  .comment-profile{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 100px;
    font-family: var(--primary-font);
  }
  
  .comment-profile div{
    overflow: scroll;
  }
  
  .comment-profile img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-top: 5px;
  }
  
  .comment-profile #commentor{
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    min-width: 70px;
  }
  
  .comment-profile hr{
    margin-left: 10px;
    height: 45px;
  }
  

 .comment-profile div{
    margin-left: 5px;
  }
  
  .comment-profile #comment{
    font-size: 13px;
    font-weight: 300;
    margin-right: 360px;
    margin-top: 17px;
    width: 800px;
  }
  
  .comment-profile #sent-details{
    font-size: 9px;
    color:rgb(192, 190, 190);
    margin-top: -10px;
  }

  #none {
    font-family: var(--primary-font);
    font-size: 17px;
    color:rgb(16, 50, 13);
    font-weight: 400;
    text-align: center;
  }

  #back-link{
    color: green;
    font-family: var(--primary-font);
    font-size: 20px;
    margin-left: 50px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: var(--primary-font);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
    font-family: var(--primary-font);
  }

  .modal-content input[type="text"],
  .modal-content label {
    font-family: var(--primary-font);
  }

  .modal-content h2 {
    text-align: center;
  }

  .modal-content textarea {
    font-family: var(--primary-font);
    font-size: 14px;
  }

  .save-edit-button-container {
    margin-top: 20px;
    text-align: center;
    font-family: var(--primary-font);
  }

  .modal-content form input[type="submit"] {
    font-family: var(--primary-font);
  }

  .custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    font-family: var(--primary-font);
    font-size: 14px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .custom-file-upload:hover {
    background-color: #C1E1C1;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form #profile-description{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  form #profile-description{
    resize: vertical;
    height: 100px;
  }
  
  form a {
    font-size: 14px;
    color: green;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
  }
  
  form a:hover {
    text-decoration: underline;
  }
  
  form input[type="submit"] {
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #C1E1C1;
  }

  
  

